<div id="loading" style="float: left;"></div>
<div id="content">
	<h2>Welcome to the Matagorda County Museum</h2>
	<p>
	  The mission of the <span class="style1">Matagorda County Museum</span> is to collect, to preserve and to protect the county&rsquo;s cultural heritage.
	  <br />
	  <br />
    Through exhibition and development of educational programming we make the museum a <span class="style1">cultural experience</span> and destination.
	</p>
	<br />
	<p>Call us at 979-245-7502</p>
	<br />
  <br />
  <a id="thumb2" href="/images/full/bh08_1.jpg" class="highslide" onclick="return hs.expand(this)" style="margin-left:10px;">
    <img src="/images/thumbs/bh08_1.jpg" alt="photo" title="The Way We Were -- Black History '08." width="100" />
  </a>
  <a id="thumb2" href="/images/full/bh08_2.jpg" class="highslide" onclick="return hs.expand(this)" style="margin-left:10px;">
    <img src="/images/thumbs/bh08_2.jpg" alt="photo" title="The Way We Were -- Black History '08." width="100" />
  </a>
  <a id="thumb3" href="/images/full/bh08_3.jpg" class="highslide" onclick="return hs.expand(this)" style="margin-left:10px;">
    <img src="/images/thumbs/bh08_3.jpg" alt="photo" title="The Way We Were -- Black History '08." width="100" />
  </a>
  <a id="thumb4" href="/images/full/bh08_4.jpg" class="highslide" onclick="return hs.expand(this)" style="margin-left:10px;">
    <img src="/images/thumbs/bh08_4.jpg" alt="photo" title="The Way We Were -- Black History '08." width="100" />
  </a>
  <br /><br />
  <a id="thumb5" href="/images/full/bh08_5.jpg" class="highslide" onclick="return hs.expand(this)" style="margin-left:10px;">
    <img src="/images/thumbs/bh08_5.jpg" alt="photo" title="The Way We Were -- Black History '08." width="100" />
  </a>
</div>
    
