<% for event in @events %>
  <p>
    <b><%=h event.start_date.strftime("%m/%d/%y") %> - <%=h event.end_date.strftime("%m/%d/%y") %></b><br />
    <%= link_to event.title, event, :class => "style1" %><br />
    <%= event.teaser %>
  </p>
  <br />
<% end %>
