<% for event in @events %>
  <p>
    <b><%=h event.start_date.strftime("%m/%d") %> - <%=h event.end_date.strftime("%m/%d") %></b><br />
    <span class="style1"><%=h event.title %></span><br />
    <%= event.teaser %>
  </p>
<% end %>
