<div id="photos">
<% for photo in @photos %>
  <a href="<%= photo.photo.url(:medium) %>" rel="highslide" class="highslide photo" style="margin-left: 10px;" >
    <%= image_tag photo.photo.url(:thumb), :title => "#{photo.page_title}::#{photo.photo_file_name}", :class => "photo" %>
  </a>
  <div class="highslide-caption" >
    <%= photo.caption %>
  </div>
<% end %>
</div>